<section class="container my-4">
    <header class="my-4">
        <h1 class="text-center">Nuestro blog</h1>
        <h2 class="text-center">Mantente al día de las noticinas del ajedrez salmantino</h2>
    </header>
    <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
        <div class="alert alert-info text-center" role="alert">
          <h4 class="alert-heading">¡Próximamente!</h4>
          <p>Estamos trabajando en esta sección. Pronto estará disponible.</p>
        </div>
      </div>

</section>