<section class="container">
    <header class="my-4">
        <h1 class="text-center">Club de Ajedrez Capablanca Salamanca</h1>
    </header>

    <body>
        <p class="lead text-center"><img class="icono" src="/assets/img/icons/map-pointer.svg"
                alt="Ubicación Club Capablanca Salamanca">Somos un club de ajedrez ubicados en Salamanca, España.</p>
        <p class="lead text-center">Nos dedicamos a promover el ajedrez en toda la provincia, difundiendo la práctica de
            este noble deporte mental a todos los interesados. Fomentamos el aprendizaje, la competencia sana y el
            desarrollo estratégico en un ambiente acogedor para jugadores de todas las edades y niveles. ¡Únete y sé
            parte de nuestra comunidad ajedrecística!</p>
    </body>

    <div class="row mx-auto col-10 col-md-8 col-lg-6 col-xl-4">
        <div class="card">
            <img src="/assets/img/jose-raul-capablanca.webp" class="card-img-top pt-2" alt="Jose Raúl Capablanca">
            <div class="card-body">
                <p class="card-text">Homenajeamos el legado de José Raúl Capablanca, gran maestro y campeón mundial.
                    ¡Descubre más sobre él aquí!</p>
                    <a href="/homenaje-a-capablanca" class="btn btn-dark">Homenaje</a>

            </div>
        </div>
    </div>

</section>