<section class="container my-4">
    <header class="my-4 text-center">
        <img src="assets/img/capablanca-logo-blue.webp" alt="Club de Ajedrez Capablanca Salamanca" class="mb-3" width="120" height="112">
        <h1>Club de Ajedrez Capablanca Salamanca</h1>
        <p class="lead">Promoviendo el ajedrez en Salamanca para jugadores de todas las edades y niveles.</p>
    </header>

    <div class="row justify-content-center g-4">
        <div class="col-12 col-md-4">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <img class="icono" src="assets/img/icons/home.svg" alt="Club">
                    <h2 class="card-title">Club</h2>
                    <p class="card-text">Conoce quiénes somos, dónde estamos y qué hacemos.</p>
                    <a routerLink="/club" class="btn btn-dark">Visitar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <img class="icono" src="assets/img/icons/battle.svg" alt="Actualidad">
                    <h2 class="card-title">Actualidad</h2>
                    <p class="card-text">Noticias, eventos y actividades del club.</p>
                    <a routerLink="/actualidad" class="btn btn-dark">Visitar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <img class="icono" src="assets/img/icons/trofeo.svg" alt="Homenaje">
                    <h2 class="card-title">Homenaje a José Raúl Capablanca</h2>
                    <p class="card-text">Descubre la vida y legado del gran maestro cubano.</p>
                    <a routerLink="/homenaje-a-capablanca" class="btn btn-dark">Visitar</a>
                </div>
            </div>
        </div>
    </div>
</section>
