<div class="container my-4">
    <h1 class="text-center">José Raúl Capablanca</h1>
    <p class="lead text-center">Uno de los más grandes maestros de ajedrez de todos los tiempos.</p>
    <div class="m-auto col-10 col-md-8 col-lg-4">
        <img src="/assets/images/jose-raul-capablanca.webp" alt="José Raúl Capablanca" class="img-fluid rounded mx-auto d-block">

    </div>

    <div class="mt-3">
      <h2><img class="icono" src="/assets/images/icons/historia.svg" alt="icono-historia">Su Historia</h2>
      <p>José Raúl Capablanca, nacido en La Habana, Cuba, en 1888, fue un prodigioso jugador de ajedrez que se destacó desde temprana edad. A los 12 años, ya había vencido a varios campeones de ajedrez locales, y a los 20, se convirtió en campeón mundial de ajedrez, un título que mantuvo hasta 1927. Capablanca fue conocido por su excepcional capacidad para simplificar las posiciones y por su estilo de juego fluido y natural.</p>
      <p>Capablanca es considerado uno de los mejores jugadores de ajedrez de todos los tiempos, y su legado perdura hasta hoy en la historia del juego.</p>
    </div>

    <div class="mt-3">
        <h2><img class="icono" src="/assets/images/icons/trofeo.svg" alt="icono-trofeo">El Título Mundial de Ajedrez</h2>
        <p>José Raúl Capablanca se coronó campeón mundial de ajedrez en 1921 al vencer a Emanuel Lasker, quien había sido campeón durante más de 27 años. La victoria de Capablanca fue el resultado de un brillante ascenso en el mundo del ajedrez, destacándose como un genio táctico y estratégico.</p>
        <p>Durante su reinado, Capablanca defendió con éxito su título en varias ocasiones. Su estilo de juego, caracterizado por su intuición y habilidades en el final de partida, le permitió mantener el título durante varios años sin perder ninguna partida importante.</p>
        <p>Sin embargo, en 1927, Capablanca perdió el título mundial frente a Alexander Alekhine en un duelo épico que pasó a la historia como uno de los más emocionantes y desafiantes en la historia del ajedrez. A pesar de su derrota, el legado de Capablanca como uno de los más grandes campeones mundiales perdura hasta hoy.</p>
    </div>

</div>
