#section-miembros .card{
    min-width: 300px;
    max-width: 450px;
}

#section-miembros .card .card-title{
    font-size: 1.50rem;
}


#section-miembros .contenedor-imagen-miembro{
    text-align: center;
}

#section-miembros .img-miembro{
width: 100%;
height: 100%;
object-fit: cover;
max-height: 220px;
max-width: 200px;
}